@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>STARS SOCIETY</h1>
    <p class="lead">STARS SOCIETY is going to launch a site that will help you more than you can imagine.</p>
    
</div>